<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <!-- ConversionPattern 解释
          %m(message):输出的日志消息，如ILog.Debug(…)输出的一条消息
          %n(new line)：換行
          %d(datetime):输出当前语句运行的时刻
          %r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数
          %t(thread id):当前语句所在的线程ID
          %p(priority): 日志的当前优先级别，即DEBUG、INFO、WARN…等
          %c(class):当前日志对象的名称
          %L：输出语句所在的行号
          %F：输出语句所在的文件名
          %-数字：表示该项的最小长度，如果不够，则用空格填充
          -->
    <!--定义输出到控制台命令行中-->
    <logger name="LogConsole">
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <!--定义输出到windows事件中-->
    <logger name="LogWindows">
      <level value="ALL"/>
      <appender-ref ref="WindowsAppender" />
    </logger>
    <!--定义输出到文件中-->
    <logger name="LogText">
      <level value="ALL"/>
      <appender-ref ref="TextAppender" />
    </logger>
    <!--定义输出到数据库中-->
    <logger name="LogDataBase">
      <level value="ALL"/>
      <appender-ref ref="DataBaseAppender" />
    </logger>
    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="SuperFramework.AppLogs.MyLayout">
        <param name="ConversionPattern" value="日志时间：%d %n日志级别：%-5p %n用 户 ID：%Property{UserID} %n用户名称：%Property{UserName} %n日志信息：%Property{Message} %n异常信息：%exception %n%n" />
      </layout>
    </appender>
    <!--定义输出到windows事件中-->
    <appender name="WindowsAppender" type="log4net.Appender.EventLogAppender">
      <layout type="SuperFramework.AppLogs.MyLayout">
        <param name="ConversionPattern" value="日志时间：%d %n日志级别：%-5p %n用 户 ID：%Property{UserID} %n用户名称：%Property{UserName} %n日志信息：%Property{Message} %n异常信息：%exception %n%n" />
      </layout>
    </appender>
    <!--定义输出到文件中-->
    <appender name="TextAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="SuperFramework\\AppLogs\\LogsFile\\Logs_" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <!--<param name="lockingMode" value="log4net.Appender.FileAppender+MinimalLock" />-->
      <param name="MaximumFileSize" value="2MB" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="SuperFramework.AppLogs.MyLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n用 户 ID：%Property{UserID} %n用户名称：%Property{UserName}  &lt;BR&gt;%n日志时间：%d %n日志级别：%-5p %n日志信息：%Property{Message}  &lt;BR&gt;%n方法类名：%Property{ClassName} %n方法名称：%Property{MethodName} %代码行号：%Property{CodeIndex}  &lt;BR&gt;%n异常信息：%exception %n%n &lt;HR Size=1&gt;" /> 
    </layout>
    </appender>
    <!--定义输出到数据库-->
    <appender name="DataBaseAppender" type="log4net.Appender.AdoNetAppender">
      <!--日志缓存写入条数-->
      <bufferSize value="1" />
      <!--日志数据库连接串-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.\SQL2008;initial catalog=Demo;integrated security=false;persist security info=True;User ID=sa;Password=1qaz" />
      <!--日志数据库脚本-->
      <commandText value="INSERT INTO LogInfo ([LogDate],[LogLevel],[UserId],[UserName],[Message],[Exception]) VALUES (@LogDate, @LogLevel,@UserId,@UserName, @Message, @Exception)" />
      <!--日志时间LogDate -->
      <parameter>
        <parameterName value="@LogDate" />
        <dbType value="String" />
        <size value="30" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss}" />
        </layout>
      </parameter>
      <!--日志类型LogLevel -->
      <parameter>
        <parameterName value="@LogLevel" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <!--自定义UserId -->
      <parameter>
        <parameterName value="@UserId" />
        <dbType value="String" />
        <size value="20" />
        <layout type="SuperFramework.AppLogs.MyLayout">
          <conversionPattern value="%Property{UserID}" />
        </layout>
      </parameter>
      <!--自定义MethodName -->
      <parameter>
        <parameterName value="@MethodName" />
        <dbType value="String" />
        <size value="40" />
        <layout type="SuperFramework.AppLogs.MyLayout">
          <conversionPattern value="%Property{MethodName}" />
        </layout>
      </parameter>
      <!--自定义ClassName -->
      <parameter>
        <parameterName value="@ClassName" />
        <dbType value="String" />
        <size value="40" />
        <layout type="SuperFramework.AppLogs.MyLayout">
          <conversionPattern value="%Property{ClassName}" />
        </layout>
      </parameter>
       <!--自定义CodeIndex -->
      <parameter>
        <parameterName value="@CodeIndex" />
        <dbType value="String" />
        <size value="40" />
        <layout type="SuperFramework.AppLogs.MyLayout">
          <conversionPattern value="%Property{CodeIndex}" />
        </layout>
      </parameter>
      <!--自定义UserName -->
      <parameter>
        <parameterName value="@UserName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="SuperFramework.AppLogs.MyLayout">
          <conversionPattern value="%Property{UserName}" />
        </layout>
      </parameter>
      <!--自定义Message -->
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="200" />
        <layout type="SuperFramework.AppLogs.MyLayout">
          <conversionPattern value="%Property{Message}" />
        </layout>
      </parameter>
      <!--异常信息Exception -->
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
</configuration>

<!--<?xml version="1.0" encoding="utf-8"?>
<log4net>
  -->
<!-- 信息日志类 -->
<!--
  <logger name="Error">
    <level value="ALL" />
    <appender-ref ref="ErrorAppender" />
  </logger>
  <logger name="Info">
    <level value="ALL" />
    <appender-ref ref="InfoAppender" />
  </logger>
  <root>
    <level value="Console" />
    <appender-ref ref="InfoAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
  -->
<!-- 信息日志附加介质 -->
<!--
  -->
<!--ERROR -->
<!--
  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    -->
<!--多线程时采用最小锁定-->
<!--
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    -->
<!-- 输出到什么目录 -->
<!--
    <param name="File" value="SuperFramework.AppLogs\\AppLogs\\ErrorLogsFile\\Logs_" />
    -->
<!-- 是否覆写到文件中 -->
<!--
    <param name="AppendToFile" value="true" />
    -->
<!-- 备份文件的个数 -->
<!--
    <param name="MaxSizeRollBackups" value="100" />
    -->
<!-- 单个日志文件最大的大小 -->
<!--
    <param name="MaxFileSize" value="10240" />
    -->
<!--每个日志文件的最大大小-->
<!--
    -->
<!--可用的单位:KB|MB|GB-->
<!--
    -->
<!--不要使用小数,否则会一直写入当前日志-->
<!--
    <param name="MaximumFileSize" value="2MB" />
    -->
<!-- 是否使用静态文件名 -->
<!--
    <param name="StaticLogFileName" value="false" />
    -->
<!--日期的格式，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
<!--
    <param name="DatePattern" value="ERROE_yyyyMMdd&quot;.htm&quot;" />
    -->
<!--变换的形式为日期，这种情况下每天只有一个日志-->
<!--
    -->
<!--此时MaxSizeRollBackups和maximumFileSize的节点设置没有意义-->
<!--
    -->
<!--<rollingStyle value="Date"/>-->
<!--
    -->
<!--变换的形式为日志大小-->
<!--
    -->
<!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
<!--
    <param name="RollingStyle" value="Date" />
    -->
<!-- 布局，更多参数可参照官网说明 -->
<!--
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n异常时间：%d &lt;BR&gt;%n异常级别：%-5level &lt;BR&gt;%n异 常 类：%logger property:[%property{NDC}] &lt;BR&gt;%n线 程 ID：%thread &lt;BR&gt;%日志内容：%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
    </layout>
  </appender>
  -->
<!--  %m(message):输出的日志消息；
        %n(newline):换行；
        %d(datetime):输出当前语句运行的时刻；
        %r(runtime):输出程序从运行到执行到当前语句时消耗的毫秒数；
        %t(threadid):当前语句所在的线程ID ；
        %p(priority): 日志的当前日志级别；
        %c(class):当前日志对象的名称；
        %L：输出语句所在的行号；
        %F：输出语句所在的文件名； 
        %-数字：表示最小长度，如果不够，则用空格填充；-->
<!--
  -->
<!--INFO -->
<!--
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value="SuperFramework.AppLogs\\AppLogs\\InfoLogsFile\\Logs_" />
    <param name="AppendToFile" value="true" />
    <param name="MaxFileSize" value="10240" />
    <param name="MaximumFileSize" value="2MB" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="INFO_yyyyMMdd&quot;.htm&quot;" />
    <param name="RollingStyle" value="Date" />
    <layout type="log4net.Layout.PatternLayout">
      <Header value="[Header]&#13;&#10;"/>
      <Footer value="[Footer]&#13;&#10;"/>
      <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d &lt;BR&gt;%n日志级别：%-5p &lt;BR&gt;%n日 志 类：%c [%x] &lt;BR&gt;%n线 程 ID：%thread &lt;BR&gt;%n日志内容：%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
    </layout>
  </appender>
  -->
<!--控制台-->
<!--
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
    </layout>
  </appender>
</log4net>-->
